/* just override what you need */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #4ec7e6,
    ),
  )
);


.input-radius .el-input-group__prepend {
  border-radius: 2rem;
}

.rounded-input {
  &:deep(.el-input__wrapper) {
    border-radius: 2rem;
  }

  border-radius: 2rem;
  font-size: 1.1rem;
}

.rounded-sm-input {
  &:deep(.el-input__wrapper) {
    border-radius: 1rem;
  }

  &:deep(.el-textarea__inner) {
    border-radius: 1rem;
  }

  border-radius: 1rem;
  font-size: 1rem;

}

.rounded-dialog {
  border-radius: 2rem;
  // 尺寸平滑变化

}

.el-dialog {
  transition: all 0.3s;
}

.el-overlay-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse-button {
  border-radius: 1rem;
  font-size: 1.1rem;
}

.el-tabs__item {
  font-size: 1.2rem;
  height: 3rem;
}

.el-tabs {
  z-index: 0;
}

.el-tabs--top {
  z-index: 0;
}

.el-message-box {
  border-radius: 1rem;
}

.el-button-custom {

}