@use 'tailwindcss' as *;
@use './base.scss' as *;
@plugin '@tailwindcss/typography';



@custom-variant dark (&:where(.dark, .dark *));
#app {
  height: 100vh;
}

.max-screen-w {
  width: min(100%, 1280px);
}

.line-padding {
  padding: 0 1rem;
}

.semibold-text {
  @apply font-semibold;
  @apply text-gray-800;
  @apply dark:text-gray-300;
}

.lg-semibold-text {
  @apply font-semibold;
  @apply text-lg;
  @apply text-gray-900;
  @apply dark:text-gray-300;
}

.nav-text {
  @apply text-base;
  @apply text-gray-600;
  @apply dark:text-gray-300;
}

.label-text-color {
  @apply text-gray-800;
  @apply dark:text-gray-300;
}

.label-text {
  @apply text-xl;
  @extend .label-text-color;
}

.bg-light-gray {
  @apply bg-gray-600;
}

.white-bg {
  @apply bg-white;
  @apply dark:bg-[#141414];
}

.popover-button {
  @apply flex;
  @apply items-center;
  @apply pl-10;
  @apply h-12;
  @apply hover:bg-gray-100;
  @apply cursor-pointer;
}

.milkdown-no-padding {
  .milkdown .ProseMirror {
    padding: 0 !important;
  }

}

.milkdown {
  .img {
    border-radius: 2rem !important;
  }

}

.header-height {
  height: var(--header-height);
}
.sticky-top {
  position: sticky;
  top: var(--header-height);
}

.rounded-image {
  img{
    border-radius: 0.8rem;
  }
}


.blur-bg {
    @apply backdrop-blur-2xl;
}

.rounded-border {
  @apply border;
  @apply border-gray-200;
  @apply dark:border-gray-700;
  @apply rounded-xl;
}

.hover-bg {
  @apply hover:bg-gray-50;
  @apply dark:hover:bg-gray-900;
  @apply transition;
}